<div class="pdf-container">
  <table>
    <thead>
      <tr>
        <th colspan="12"></th>
      </tr>
    </thead>
    <tbody>
      <!-- TOP SECTION -->
      <tr>
        <td colspan="6">
          <div class="logo mb38">
            <img src="https://dipro-internal-public.s3.ap-southeast-1.amazonaws.com/static-assets/logo.png">

          </div>
        </td>
        <td colspan="6">
          <div class="text-right mb38">
            <span>発行日：</span>
            <span><%= Time.zone.now.to_date.strftime('%Y年%m月%d日') %></span>
          </div>
        </td>
      </tr>

      <!-- TITLE -->
      <tr>
        <td colspan="12">
          <h3 class="text-center fs-lg fw-bold m0 mb32">領収書</h3>
        </td>
      </tr>

      <!-- NOTE SECTION -->
      <tr>
        <td colspan="12">
          <div class="note-border mb36">
            <div class="row">
              <div class="col col-11">
                <div><%= order.user.full_name %></div>
              </div>
              <div class="col col-1">
                <div class="text-right">様</div>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <!-- INFO SECTION -->
      <tr>
        <td colspan="12">
          <span>利用明細</span>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <div>
            <span>購入番号：</span>
            <span><%= order.code %></span>
          </div>
          <div class="mb36">
            <span>購入店舗：</span>
            <span><%= order.agency.name %> </span>
          </div>
        </td>
        <td colspan="6">
          <div>
            <span>購入日：</span>
            <span><%= order.checkout_date.strftime('%Y年%m月%d日') %></span>
          </div>
          <div class="mb36">
            <span>お支払い方法：</span>
            <span><%= order.payment.name %></span>
          </div>
        </td>
      </tr>

      <!-- TABLE -->
      <tr>
        <td colspan="12">
          <span>商品明細</span>
        </td>
      </tr>
      <tr>
        <td colspan="12">
          <table class="mb36 product">
            <tr>
              <th>
                <div class="table-cell">商品番号</div>
              </th>
              <th>
                <div class="table-cell">商品名</div>
              </th>
              <th>
                <div class="table-cell">数量</div>
              </th>
              <th>
                <div class="table-cell">単価（税込）</div>
              </th>
              <th>
                <div class="table-cell">税率</div>
              </th>
              <th>
                <div class="table-cell">計（税込）</div>
              </th>
            </tr>
            <% order.order_products.includes(:order_log).each do |order_product|%>
              <tr>
                <td>
                  <div class="text-center table-cell">
                    <%= JSON.parse(order_product.order_log.product)['code'] %>
                  </div>
                </td>
                <td>
                  <div class="text-left table-cell">
                    <%= JSON.parse(order_product.order_log.product)['name'] %>
                  </div>
                </td>
                <td>
                  <div class="text-center table-cell"><%= order_product.number %></div>
                </td>
                <td>
                  <div class="text-center table-cell">
                    <%= (JSON.parse(order_product.order_log.product_size)['price']).to_i %>
                  </div>
                </td>
                <td>
                  <div class="text-center table-cell">
                    <%= JSON.parse(order_product.order_log.product)['tax'] %>%
                  </div>
                </td>
                <td>
                  <div class="text-center table-cell">
                    <%= (JSON.parse(order_product.order_log.product_size)['price'] * order_product.number).to_i %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>

      <!-- PRICE -->
      <tr>
        <td colspan="7"></td>
        <td colspan="5">
          <table class="mb48">
            <tr class="price-border">
              <td colspan="6">
                <div>商品小計（税込）</div>
              </td>
              <td colspan="6">
                <div class="text-right">
                  ￥<%= order.purchased_amount.to_i %>
                </div>
              </td>
            </tr>
            <tr class="price-border">
              <td colspan="6">
                <div>送料（税込）</div>
              </td>
              <td colspan="6">
                <div class="text-right">
                  ￥<%= order.delivery_amount.to_i %>
                </div>
              </td>
            </tr>
            <tr class="price-border">
              <td colspan="6">
                <div>クーポン</div>
              </td>
              <td colspan="6">
                <div class="text-right">
                  -￥<%= order.coupon_amount.to_i %>
                </div>
              </td>
            </tr>
            <tr class="price-border">
              <td colspan="6">
                <div>使用ポイント</div>
              </td>
              <td colspan="6">
                <div class="text-right">
                  -￥<%= order.used_point.to_i %>
                </div>
              </td>
            </tr>
            <tr class="price-border">
              <td colspan="6">
                <div class="fs-md fw-md mt18">ご請求額</div>
              </td>
              <td colspan="6">
                <div class="text-right fs-md fw-md mt18">
                  ￥<%= (order.purchased_amount.to_i + order.delivery_amount.to_i) %>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- BOTTOM INFO -->
      <tr>
        <td colspan="6"></td>
        <td colspan="6">
          <div class="text-right">領収者</div>
          <div class="text-right">株式会社STEPトラべル</div>
          <div class="text-right">
            〒556-0017大阪府大阪市浪速区湊町1-2-3
          </div>
          <div class="text-right">マルイト難波ビル１５階</div>
          <div class="text-right">TEL06-6634-0123</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
